<div class="row">
  <h2 class="text-center">What is your allergy score?</h2>
</div>

<form action="/allergies">

  <div style="width: 80%;" class="form-group">
    <label for="allergy_score">Enter your allergy score</label>
    <input type="text" name="allergy_score" class="form-control" style="border:0; color:#f6931f; font-weight:bold;" id="allergy_score">

    <div id="slider"></div>
  </div>

  <button class="btn btn-primary" type='submit'>Submit</button>
</form>


<script>
  $(document).ready(function() {

    $('#slider').slider( {
      value: 0,
      min: 0,
      max: 255,
      step: 1,
      slide: function(event, ui) {
        $("#allergy_score").val(ui.value);
      }
    });
    $("#allergy_score").val( $("#slider").slider("value"));
  });
</script>
