<!DOCTYPE html>
  <head>
    <title>Allergy Checker</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>

    <div class="footer">
      <p class="text-muted text-center">&copy; 2015<br>
      All Rights Reserved</p>
    </div>
  </body>
</html>
